In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\Tushar\Desktop\Day-7\Assignment\general_data.csv")

In [3]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

## Non-Parametric Tests

### Since no paired features are present we cannot do Wilcoxon Test and Freidman Test
### Our Dependent Variable is Categorical so Mann Whitkey and Kruskal Wallis tests cannot be performed

## Chi2 Test

In [22]:
from scipy.stats import chi2_contingency

### H0 : There is no Significant impact of Age on Attrition
### H1 : There is Significant impact of Age on Attrition

In [23]:
chitable=pd.crosstab(df.Age,df.Attrition)

In [31]:
chitable.head()

Attrition  No  Yes
Age
18         12   11
19          9   18
20         15   18
21         21   18
22         32   15

In [25]:
stats,p,dof,expected=chi2_contingency(chitable)

In [30]:
print("p-value is-",p)

p-value is- 1.20869585240706e-50

## Since the p-value<0.05 we reject H0 . That means Age has significant impact on Attrition

In [33]:
df.head(2)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Attrition_Encoded
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,Y,11,8,0,1.0,6,1,0,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,Y,23,8,1,6.0,3,5,1,4,1

### H0 : There is no Significant impact of Department on Attrition
### H1 : There is Significant impact of Department on Attrition

In [34]:
chitable=pd.crosstab(df.Department,df.Attrition)

In [35]:
chitable.head()

Attrition                 No  Yes
Department
Human Resources          132   55
Research & Development  2416  449
Sales                   1129  201

In [36]:
stats,p,dof,expected=chi2_contingency(chitable)
print("p-value is-",p)

p-value is- 2.3829705707693105e-06

### Since the p-value<0.05 we reject H0 . That means Department has significant impact on Attrition

# Parametric Tests
## We have no paired features so we cannot do 2 Sample paired t Test
## Our dependent variable is categorical so we cannot do 2 Sample independent t test.

# ---------------------------------------------------------------------

## One sample t Test - Taking sample mean of Age

In [38]:
df['Age'].shape

(4382,)

In [47]:
age_sample_mean=df['Age'][1000:1501].mean()

## H0 : There is no significant difference between Popluation Mean of Age and sample mean of Age
## H1 : There is significant difference between Popluation Mean of Age and sample mean of Age

In [51]:
from scipy.stats import ttest_1samp

In [52]:
stats,p=ttest_1samp(df.Age,age_sample_mean)

In [53]:
print("p-value is",p)

p-value is 0.2694117293336814

## Since p-value > 0.05 we reject H1