In [1]:
import pandas as pd
import numpy as np

In [12]:
df=pd.read_csv(r"C:\Users\Tushar\Desktop\Day-7\Assignment\general_data.csv")

In [13]:
df.head(2)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
le=LabelEncoder()

In [16]:
le.fit(df.Attrition)

LabelEncoder()

In [17]:
df['Attrition']=le.transform(df.Attrition)

In [20]:
df.head(2)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4

In [21]:
df['BusinessTravel']=le.fit_transform(df.BusinessTravel)

In [22]:
df['Department']=le.fit_transform(df.Department)

In [23]:
df['DistanceFromHome']=le.fit_transform(df.DistanceFromHome)

In [24]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,5,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,1,1,9,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,1,1,16,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,0,1,1,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,2,1,9,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [26]:
df['EducationField']=le.fit_transform(df.EducationField)

In [27]:
df['Gender']=le.fit_transform(df.Gender)

In [28]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,5,2,5,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,1,1,9,1,9,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,1,1,16,4,16,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,0,1,1,5,1,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,2,1,9,1,9,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [29]:
from scipy.stats import pearsonr

In [31]:
stats,p=pearsonr(df.Age,df.Attrition)
print("Correlation of Age and Attrition is-",stats)

Correlation of Age and Attrition is- -0.1592050068657796

In [32]:
stats,p=pearsonr(df.BusinessTravel,df.Attrition)
print("Correlation of Business Travel and Attrition is-",stats)

Correlation of Business Travel and Attrition is- 7.37769460222686e-05

In [33]:
stats,p=pearsonr(df.Department,df.Attrition)
print("Correlation of Department and Attrition is-",stats)

Correlation of Department and Attrition is- -0.04820581991834006

In [34]:
stats,p=pearsonr(df.DistanceFromHome,df.Attrition)
print("Correlation of Distance from Home and Attrition is-",stats)

Correlation of Distance from Home and Attrition is- -0.009730141010179659

In [35]:
stats,p=pearsonr(df.Gender,df.Attrition)
print("Correlation of Gender and Attrition is-",stats)

Correlation of Gender and Attrition is- 0.018125078877010262

In [36]:
stats,p=pearsonr(df.Education,df.Attrition)
print("Correlation of Education and Attrition is-",stats)

Correlation of Education and Attrition is- -0.015111167710968744

In [37]:
stats,p=pearsonr(df.EducationField,df.Attrition)
print("Correlation of Education Field and Attrition is-",stats)

Correlation of Education Field and Attrition is- -0.009730141010179659

In [38]:
stats,p=pearsonr(df.PercentSalaryHike,df.Attrition)
print("Correlation of Salary Hike and Attrition is-",stats)

Correlation of Salary Hike and Attrition is- 0.032532594891053514

In [39]:
stats,p=pearsonr(df.YearsAtCompany,df.Attrition)
print("Correlation of Years at Company and Attrition is-",stats)

Correlation of Years at Company and Attrition is- -0.13439221398997717

## Correlation Matrix

In [40]:
df.corr()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.159205,0.024751,-0.010846,0.006963,-0.035706,0.006963,NaN,0.008649,-0.039352,...,-0.044314,0.299243,-0.033137,NaN,-0.031753,0.680661,-0.027308,0.311309,0.216513,0.202089
Attrition,-0.159205,1.000000,0.000074,-0.048206,-0.009730,-0.015111,-0.009730,NaN,-0.004729,0.018125,...,-0.031176,0.042345,0.032533,NaN,-0.006839,-0.170338,-0.049431,-0.134392,-0.033019,-0.156199
BusinessTravel,0.024751,0.000074,1.000000,-0.010982,0.024616,0.002755,0.024616,NaN,-0.002590,-0.039243,...,-0.037597,0.022401,-0.031054,NaN,0.003683,0.033997,-0.041888,-0.014575,-0.032591,-0.022636
Department,-0.010846,-0.048206,-0.010982,1.000000,0.012134,-0.004597,0.012134,NaN,-0.003455,0.003158,...,-0.032237,-0.003954,-0.007840,NaN,0.010512,-0.019839,0.012866,0.010078,0.014845,0.018016
DistanceFromHome,0.006963,-0.009730,0.024616,0.012134,1.000000,-0.008638,1.000000,NaN,-0.001097,-0.044173,...,-0.021607,-0.013843,0.038125,NaN,0.011169,0.009374,-0.009001,0.031684,0.002290,0.021584
Education,-0.035706,-0.015111,0.002755,-0.004597,-0.008638,1.000000,-0.008638,NaN,-0.009680,-0.016547,...,0.006410,-0.016250,-0.040531,NaN,0.001261,-0.010717,0.010472,0.006080,0.022490,0.005358
EducationField,0.006963,-0.009730,0.024616,0.012134,1.000000,-0.008638,1.000000,NaN,-0.001097,-0.044173,...,-0.021607,-0.013843,0.038125,NaN,0.011169,0.009374,-0.009001,0.031684,0.002290,0.021584
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008649,-0.004729,-0.002590,-0.003455,-0.001097,-0.009680,-0.001097,NaN,1.000000,-0.013165,...,0.007338,-0.001117,-0.004456,NaN,-0.014254,-0.001063,-0.010191,0.004086,0.000256,0.008579
Gender,-0.039352,0.018125,-0.039243,0.003158,-0.044173,-0.016547,-0.044173,NaN,-0.013165,1.000000,...,0.007530,-0.066924,0.011841,NaN,0.019237,-0.027598,-0.030167,-0.017277,-0.021812,0.004438
JobLevel,-0.002884,-0.010290,0.046111,0.002923,-0.037329,0.045746,-0.037329,NaN,-0.003303,-0.026854,...,0.047316,-0.009875,0.010973,NaN,0.000993,-0.036957,-0.032500,-0.064219,-0.060811,-0.055251
MonthlyIncome,-0.044314,-0.031176,-0.037597,-0.032237,-0.021607,0.006410,-0.021607,NaN,0.007338,0.007530,...,1.000000,-0.020726,0.004325,NaN,0.026930,-0.033787,0.050112,0.000995,0.065219,0.024304
NumCompaniesWorked,0.299243,0.042345,0.022401,-0.003954,-0.013843,-0.016250,-0.013843,NaN,-0.001117,-0.066924,...,-0.020726,1.000000,0.030860,NaN,0.017163,0.238807,-0.032286,-0.117959,-0.036656,-0.109667
PercentSalaryHike,-0.033137,0.032533,-0.031054,-0.007840,0.038125,-0.040531,0.038125,NaN,-0.004456,0.011841,...,0.004325,0.030860,1.000000,NaN,0.012548,-0.018736,-0.037392,-0.029707,-0.029542,-0.040864
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031753,-0.006839,0.003683,0.010512,0.011169,0.001261,0.011169,NaN,-0.014254,0.019237,...,0.026930,0.017163,0.012548,NaN,1.000000,0.002694,-0.069902,0.007886,0.019063,0.017757
TotalWorkingYears,0.680661,-0.170338,0.033997,-0.019839,0.009374,-0.010717,0.009374,NaN,-0.001063,-0.027598,...,-0.033787,0.238807,-0.018736,NaN,0.002694,1.000000,-0.040762,0.627703,0.404444,0.458800
TrainingTimesLastYear,-0.027308,-0.049431,-0.041888,0.012866,-0.009001,0.010472,-0.009001,NaN,-0.010191,-0.030167,...,0.050112,-0.032286,-0.037392,NaN,-0.069902,-0.040762,1.000000,-0.007894,0.016121,-0.013270
YearsAtCompany,0.311309,-0.134392,-0.014575,0.010078,0.031684,0.006080,0.031684,NaN,0.004086,-0.017277,...,0.000995,-0.117959,-0.029707,NaN,0.007886,0.627703,-0.007894,1.000000,0.618409,0.769212
YearsSinceLastPromotion,0.216513,-0.033019,-0.032591,0.014845,0.002290,0.022490,0.002290,NaN,0.000256,-0.021812,...,0.065219,-0.036656,-0.029542,NaN,0.019063,0.404444,0.016121,0.618409,1.000000,0.510224
YearsWithCurrManager,0.202089,-0.156199,-0.022636,0.018016,0.021584,0.005358,0.021584,NaN,0.008579,0.004438,...,0.024304,-0.109667,-0.040864,NaN,0.017757,0.458800,-0.013270,0.769212,0.510224,1.000000

## HIGHEST AND LOWEST CORRELATIONS

In [41]:
df.corr().unstack().sort_values().drop_duplicates()

Attrition                TotalWorkingYears         -0.170338
Age                      Attrition                 -0.159205
Attrition                YearsWithCurrManager      -0.156199
YearsAtCompany           Attrition                 -0.134392
NumCompaniesWorked       YearsAtCompany            -0.117959
YearsWithCurrManager     NumCompaniesWorked        -0.109667
TrainingTimesLastYear    StockOptionLevel          -0.069902
Gender                   NumCompaniesWorked        -0.066924
YearsAtCompany           JobLevel                  -0.064219
JobLevel                 YearsSinceLastPromotion   -0.060811
                         YearsWithCurrManager      -0.055251
Attrition                TrainingTimesLastYear     -0.049431
Department               Attrition                 -0.048206
Age                      MonthlyIncome             -0.044314
EducationField           Gender                    -0.044173
TrainingTimesLastYear    BusinessTravel            -0.041888
YearsWithCurrManager     PercentSalaryHike         -0.040864
TrainingTimesLastYear    TotalWorkingYears         -0.040762
Education                PercentSalaryHike         -0.040531
Gender                   Age                       -0.039352
                         BusinessTravel            -0.039243
BusinessTravel           MonthlyIncome             -0.037597
TrainingTimesLastYear    PercentSalaryHike         -0.037392
DistanceFromHome         JobLevel                  -0.037329
JobLevel                 TotalWorkingYears         -0.036957
NumCompaniesWorked       YearsSinceLastPromotion   -0.036656
Education                Age                       -0.035706
MonthlyIncome            TotalWorkingYears         -0.033787
PercentSalaryHike        Age                       -0.033137
YearsSinceLastPromotion  Attrition                 -0.033019
                                                      ...
                         Education                  0.022490
YearsWithCurrManager     MonthlyIncome              0.024304
BusinessTravel           DistanceFromHome           0.024616
                         Age                        0.024751
StockOptionLevel         MonthlyIncome              0.026930
PercentSalaryHike        NumCompaniesWorked         0.030860
YearsAtCompany           DistanceFromHome           0.031684
PercentSalaryHike        Attrition                  0.032533
BusinessTravel           TotalWorkingYears          0.033997
DistanceFromHome         PercentSalaryHike          0.038125
Attrition                NumCompaniesWorked         0.042345
JobLevel                 Education                  0.045746
BusinessTravel           JobLevel                   0.046111
JobLevel                 MonthlyIncome              0.047316
MonthlyIncome            TrainingTimesLastYear      0.050112
YearsSinceLastPromotion  MonthlyIncome              0.065219
Age                      YearsWithCurrManager       0.202089
                         YearsSinceLastPromotion    0.216513
NumCompaniesWorked       TotalWorkingYears          0.238807
Age                      NumCompaniesWorked         0.299243
YearsAtCompany           Age                        0.311309
YearsSinceLastPromotion  TotalWorkingYears          0.404444
YearsWithCurrManager     TotalWorkingYears          0.458800
YearsSinceLastPromotion  YearsWithCurrManager       0.510224
YearsAtCompany           YearsSinceLastPromotion    0.618409
                         TotalWorkingYears          0.627703
TotalWorkingYears        Age                        0.680661
YearsWithCurrManager     YearsAtCompany             0.769212
Age                      Age                        1.000000
                         EmployeeCount                   NaN
Length: 155, dtype: float64